<!-- START - Documentation and research materials were used in the development of the code, 
including but not limited to academic papers, articles, blog posts, and YouTube video tutorials. Please see referenced links.  -->

{% extends "base_minimal.html" %} {% block title %}Login{% endblock %} {% block content %}
<div class="container mt-5">
    <div class="row justify-content-center align-items-center" style="min-height: 70vh;">
        <div class="col-md-4">
            <!-- flash message -->
            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
            <div class="alert alert-{{ category }} flash-message">{{ message }}</div>
            {% endfor %} {% endif %} {% endwith %}

            <div class="card p-4">
                <h2 class="text-center">Login</h2>
                <!-- login and register tabs -->
                <div class="d-flex justify-content-between mb-3">
                    <div class="btn-group w-100" role="group">
                        <button type="button" class="btn btn-dark active">Login</button>
                        <a href="/register" class="btn btn-outline-dark">Register</a>
                    </div>
                </div>

                <!-- login form section -->
                <form action="/login" method="post">
                    {{ form.hidden_tag() }}

                    <div class="mb-3">
                        <label for="email" class="form-label">{{ form.email.label.text }}</label> {{ form.email(id="email", class="form-control", placeholder="Email Address") }}
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">{{ form.password.label.text }}</label> {{ form.password(id="password", class="form-control", placeholder="Password") }}
                    </div>

                    <div class="d-flex justify-content-between mb-3">
                        <div class="mb-3 forgot-password">
                            <a href="/reset_password" class="text-primary">Forgot password?</a>
                        </div>

                        <div class="mb-3 form-check remember-me">
                            <label class="form-check-label" for="rememberMe">Remember Me</label> {{ form.remember_me(id="rememberMe", class="form-check-input") }}
                        </div>
                    </div>

                    <div class="d-grid">
                        {{ form.submit(class="btn btn-dark mb-3", value="Login") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/utilities.js') }}"></script>
{% endblock %}

<!-- References:
https://origin.fontawesome.com/v6/docs/
https://developer.mozilla.org/en-US/docs/Web/HTML
https://developer.mozilla.org/en-US/docs/Web/CSS
https://developer.mozilla.org/en-US/docs/Web/JavaScript
https://getbootstrap.com/docs/5.3/getting-started/introduction/
https://popper.js.org/docs/v2/
https://api.jquery.com
https://svn.python.org/projects/external/Jinja-2.1.1/docs/_build/html/index.html
https://api.jquery.com/category/ajax/ 
https://flask.palletsprojects.com/en/3.0.x/patterns/wtforms/
https://flask.palletsprojects.com/en/1.1.x/patterns/flashing/
https://flask.palletsprojects.com/en/3.0.x/
https://getbootstrap.com/docs/4.0/components/tooltips/
https://getbootstrap.com/docs/4.4/components/toasts/
https://getbootstrap.com/docs/5.2/components/modal/
https://flask-wtf.readthedocs.io/en/0.15.x/quickstart/
https://getbootstrap.com/docs/5.0/components/accordion/
https://getbootstrap.com/docs/5.0/forms/form-control/
https://getbootstrap.com/docs/4.0/components/forms/
-->

<!-- END - Documentation and research materials were used in the development of the code, 
including but not limited to academic papers, articles, blog posts, and YouTube video tutorials. Please see referenced links.  -->