<!-- START - Documentation and research materials were used in the development of the code, 
including but not limited to academic papers, articles, blog posts, and YouTube video tutorials. Please see referenced links.  -->

{% extends "base_minimal.html" %} {% block title %} Reset Token {% endblock %} {% block content %}
<div class="container">
    <!-- flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }} flash-message">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}

    <div class="row justify-content-center align-items-center" style="min-height: 70vh;">
        <div class="col-md-4">
            <div class="card p-4">
                <h2 class="text-center mb-5">Reset Password</h2>
                <form method="post" action="{{ url_for('blueprint_user_authentication.reset_token', token=token) }}" id="passwordResetForm">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        <label for="password" class="form-label">{{ form.password.label.text }}</label>
                        <!-- password input field -->
                        {{ form.password(id="password", class="form-control", placeholder="New Password") }} {% if form.password.errors %}
                        <div class="invalid-feedback">
                            {{ form.password.errors[0] }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">{{ form.confirm_password.label.text }}</label>
                        <!-- confirm password input field -->
                        {{ form.confirm_password(id="confirmPassword", class="form-control", placeholder="Confirm New Password") }}
                        <div class="alert alert-danger" role="alert" id="passwordMatchError" style="display:none;">
                            Passwords do not match.
                        </div>
                        {% if form.confirm_password.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.confirm_password.errors[0] }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="d-grid mb-4">
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/password_reset.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/utilities.js') }}"></script>

{% endblock %}

<!-- References:
https://origin.fontawesome.com/v6/docs/
https://developer.mozilla.org/en-US/docs/Web/HTML
https://developer.mozilla.org/en-US/docs/Web/CSS
https://developer.mozilla.org/en-US/docs/Web/JavaScript
https://getbootstrap.com/docs/5.3/getting-started/introduction/
https://popper.js.org/docs/v2/
https://api.jquery.com
https://svn.python.org/projects/external/Jinja-2.1.1/docs/_build/html/index.html
https://api.jquery.com/category/ajax/ 
https://flask.palletsprojects.com/en/3.0.x/patterns/wtforms/
https://flask.palletsprojects.com/en/1.1.x/patterns/flashing/
https://flask.palletsprojects.com/en/3.0.x/
https://getbootstrap.com/docs/4.0/components/tooltips/
https://getbootstrap.com/docs/4.4/components/toasts/
https://getbootstrap.com/docs/5.2/components/modal/
https://flask-wtf.readthedocs.io/en/0.15.x/quickstart/
https://getbootstrap.com/docs/5.0/components/accordion/
https://getbootstrap.com/docs/5.0/forms/form-control/
https://getbootstrap.com/docs/4.0/components/forms/
-->

<!-- END - Documentation and research materials were used in the development of the code, 
including but not limited to academic papers, articles, blog posts, and YouTube video tutorials. Please see referenced links.  -->