<!-- START - Documentation and research materials were used in the development of the code, 
including but not limited to academic papers, articles, blog posts, and YouTube video tutorials. Please see referenced links.  -->

<!-- sidebar for large devices (hidden on medium and small screens) -->
<div class="col-lg-2 bg-light d-none d-lg-block sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column mt-4">
            <!-- dashboard link -->
            <li class="nav-item {{ 'active' if request.endpoint == 'main.dashboard' else '' }}" id="dashboard-item">
                <a class="nav-link text-dark" href="{{ url_for('main.dashboard') }}">Dashboard</a>
            </li>
            <!-- q&q link -->
            <li class="nav-item {{ 'active' if request.endpoint == 'main.questions_and_answers' else '' }}" id="questions-item">
                <a class="nav-link text-dark" href="{{ url_for('main.questions_and_answers') }}">Q & A</a>
            </li>
            <!-- legal disclamers link -->
            <li class="nav-item {{ 'active' if request.endpoint == 'main.legal_disclaimers' else '' }}" id="terms-item">
                <a class="nav-link text-dark" href="{{ url_for('main.legal_disclaimers') }}">Legal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ url_for('blueprint_user_authentication.logout') }}">
                    <i class="fas fa-sign-out-alt"></i> Sign Out
                </a>
            </li>
        </ul>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<!-- References:
https://origin.fontawesome.com/v6/docs/
https://developer.mozilla.org/en-US/docs/Web/HTML
https://developer.mozilla.org/en-US/docs/Web/CSS
https://developer.mozilla.org/en-US/docs/Web/JavaScript
https://getbootstrap.com/docs/5.3/getting-started/introduction/
https://popper.js.org/docs/v2/
https://api.jquery.com
https://svn.python.org/projects/external/Jinja-2.1.1/docs/_build/html/index.html
https://api.jquery.com/category/ajax/ 
https://flask.palletsprojects.com/en/3.0.x/patterns/wtforms/
https://flask.palletsprojects.com/en/1.1.x/patterns/flashing/
https://flask.palletsprojects.com/en/3.0.x/
https://getbootstrap.com/docs/4.0/components/tooltips/
https://getbootstrap.com/docs/4.4/components/toasts/
https://getbootstrap.com/docs/5.2/components/modal/
https://flask-wtf.readthedocs.io/en/0.15.x/quickstart/
https://getbootstrap.com/docs/5.0/components/accordion/
https://getbootstrap.com/docs/5.0/forms/form-control/
https://getbootstrap.com/docs/4.0/components/forms/
https://fontawesome.com/icons
-->

<!-- END - Documentation and research materials were used in the development of the code, 
including but not limited to academic papers, articles, blog posts, and YouTube video tutorials. Please see referenced links.  -->